.user-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
/*
.user-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.7);
}*/
/*
.user-container {
  background: #eee;
  width: 80%;
  height: 90%;
}*/
